.footer-links-wrapper h5 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Roboto Condensed', Helvetica, Times New Roman, sans-serif;
    color: #252a2f;
}

.footer-links-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #252a2f;
    font: 14px/22px 'Open Sans', Arial, Helvetica, sans-serif;
}

.footer-links-wrapper ul li {
    padding: 2px 0;
    color: #8b8b8b;
    font-size: 12px;
}

.footer-links-wrapper ul li a {
    font-size: 12px;
    padding: 2px 0;
    color: #8b8b8b;
}

.footer-links-wrapper .mail {
    color: #333333;
}

.footer-links-wrapper .lead {
    font-size: 24px;
    color: #8b8b8b;
    font-family: 'Roboto Condensed', Helvetica, Times New Roman, sans-serif;
}

.footer-links-wrapper .lead span {
    font-size: 24px;
    color: #151515;
}

