{% load staticfiles %}
{% load thumbnail %}

<div class="footer-links-wrapper">
    <div class="col-lg-2">
        <h5>Информация</h5>
        <ul>
            <li><a href="about.html">О компании</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Условия договора</a></li>
            <li><a href="#">Сроки гарантии</a></li>
        </ul>
    </div>
    <div class="col-lg-2">
        <h5>Разделы</h5>
        <ul>
            <li><a href="about.html">Каталог</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Статьи</a></li>
            <li><a href="#">События компании</a></li>
        </ul>
    </div>
    <div class="col-lg-2">
        <h5>Обслуживание</h5>
        <ul>
            <li><a href="contact.html">Наши поставщики</a></li>
            <li><a href="#">Правила возврата</a></li>
            <li><a href="#">Карта сайта</a></li>
            <li><a href="#">Наши филиалы</a></li>
            <li><a href="#">Спецпредложения</a></li>
        </ul>
    </div>
    <div class="col-lg-2">
        <h5>Где мы есть</h5>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Вконтакте</a></li>
            <li><a href="#">YouTube</a></li>
        </ul>
    </div>
    <div class="col-lg-4">
        <h5>Свяжитесь с нами</h5>
        <ul>
            <li>О компании</li>
            <li>

            </li>
            <li>

            </li>
        </ul>
        <h4 class="lead">

        </h4>
    </div>
</div>
<style media="screen" type="text/css">
    @import "{% static 'face/blocks/footer-links/css/footer-links.css' %}";
</style>